In [1]:
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
def metrics(y, predicted):
    return {
        'rmse': np.sqrt(mean_squared_error(y, predicted))}

In [2]:
matplotlib.rcParams['figure.figsize'] = [20, 10]
matplotlib.rcParams['font.size'] = 20

Get data from 
<https://www.kaggle.com/c/tmdb-box-office-prediction/data>

In [4]:
train_df = pd.read_csv("tmdb-box-office-prediction/train.csv")

In [5]:
train_df.shape

(3000, 23)

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [7]:
X = train_df.drop("revenue", axis=1)
y = np.log1p(train_df["revenue"])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=666)

In [8]:
def transform_X(X):
    return X[["budget"]]

In [9]:
X_train_trans = transform_X(X_train)
X_test_trans = transform_X(X_test)
X_train_trans.head()

       budget
182         0
382   8000000
2246        0
1719  4437508
937         0

In [10]:
from sklearn.tree import DecisionTreeRegressor

reg = DecisionTreeRegressor(max_depth=2, random_state=666)
reg = reg.fit(X_train_trans, y_train)
y_test_hat = reg.predict(X_test_trans)

metrics(y_test, y_test_hat)

{'rmse': 2.754929841280955}

In [11]:
X['belongs_to_collection'].head()

0    [{'id': 313576, 'name': 'Hot Tub Time Machine ...
1    [{'id': 107674, 'name': 'The Princess Diaries ...
2                                                  NaN
3                                                  NaN
4                                                  NaN
Name: belongs_to_collection, dtype: object

In [12]:
def transform_X(X):
    new_X = X[["budget"]]
    new_X['part_of_collection'] = X['belongs_to_collection'].isna()
    return new_X

In [13]:
X['genres'].head()

0                       [{'id': 35, 'name': 'Comedy'}]
1    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                        [{'id': 18, 'name': 'Drama'}]
3    [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4    [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
Name: genres, dtype: object